version: '3.7'
services:
  app_proxy:
    environment:
      APP_HOST: $APP_PORTAINER_IP
      APP_PORT: 9000
  server:
    image: portainer/portainer-ce:2.17.1@sha256:3f24411ce705a7e466923e7f97181a70a9670097d3fdaf76f2970c3e0ee7cac8
    command: '-H unix:///var/run/docker.sock'
    environment:
      - VIRTUAL_PORT=9000
    networks:
      default:
        ipv4_address: $APP_PORTAINER_IP
    restart: on-failure
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - portainer_data:/data
volumes:
  portainer_data: null
